@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  object-fit: cover;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #e8caa7, #eaafc8);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-content {
  background: linear-gradient(120deg, rgba(49, 47, 47, 0.6), rgba(119, 118, 118, 0.7));
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 2rem;
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  box-shadow: 5px 10px 10px grey;
  word-break: break-all;
}

table, th, td {
  padding: 0.2rem;
  color: black;
  background-color: whitesmoke;
  border: 2px solid black;
  border-collapse: collapse;
}
